@use "../../styles/variables" as *;

.fm-modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $border-color;
  padding: 0.3rem 1rem;
  font-size: $fm-font-size;

  .fm-modal-heading {
    margin: 0;
    font-weight: bold;
    color: black;
  }
}

.dialog[open] {
  animation: expand 0.4s forwards;

  &::backdrop {
    background: rgba(0, 0, 0, 0.5);
  }
}

.fm-modal-fullscreen {
  border-radius: 0;
  padding: 0;
  display: flex;
  flex-direction: column;

  .fm-modal-header {
    flex-shrink: 0;
  }

  .fm-modal-content-fullscreen {
    flex: 1;
    min-height: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }
}

@keyframes expand {
  from {
    transform: scale(0.4);
  }

  to {
    transform: scale(1);
  }
}